body{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

h1{
    color:aquamarine;
    background-color: rgb(0, 0, 0);

}

#show_sketch
{
    float: right;
}

canvas{
    border:5px solid rgb(0, 243, 170);
    border-radius:20px;
animation-name: example;
animation-duration: 4s;
margin-top:50px;
animation-iteration-count: infinite;
}

@keyframes example {
    from{box-shadow:1px 1px 90px rgb(0, 255, 238)}
    to{box-shadow:1px 1px 90px rgb(227, 117, 0)}

}